@import "../styles/variables.scss";

.root {
  display: inline-block;
  padding: 0.5em 1em;
  color: $bgColor;
  text-decoration: none;
  text-align: center;
  font-family: $displayFontFamily, sans-serif;
  font-weight: bold;
  background-color: $secondaryColor;
  border: none;

  &:hover {
    color: white !important;
    background: lighten($secondaryColor, 10);
  }
}
