@import "../styles/variables";

.shown {
  position: fixed;
  bottom: 0;
  padding: 20px 40px;
  width: 100%;
  text-align: center;
  font-size: 0.85em;
  color: $bgColor;
  background-color: rgba(darken($secondaryColor, 25%), 0.85);
  z-index: 1;
  transform: translateY(0%);
  transition: transform 0.25s ease-in;

  button + button {
    margin-left: 10px;
  }
}

.hidden {
  composes: shown;
  transform: translateY(100%);
}
