@import "../styles/variables.scss";

$footerTextColor: lighten($secondaryColor, 30);
$footerLinkColor: lighten($secondaryColor, 45);

.root {
  padding-top: 4vw;
  color: $footerTextColor;
  font-size: smaller;

  nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  a {
    @include link($footerLinkColor);
  }
}

.wrapper {
  composes: container from "./shared.module.scss";
}

.content {
  composes: grid from "./shared.module.scss";
  composes: push--1col from "./shared.module.scss";
  composes: pull--1col from "./shared.module.scss";
  grid-template-columns: repeat(3, 1fr);
}

.socialIcon {
  background: none !important;
  :global(svg g.social-svg-mask path) {
    fill: none;
  }
  :global(svg g.social-svg-icon path) {
    fill: $footerTextColor;
  }
  &:hover :global(svg g.social-svg-icon path) {
    fill: lighten($footerLinkColor, 10%);
  }
}

.copyright {
  //grid-column: 3 / 3;
  //align-self: end;
  font-size: 0.9em;
  //grid-row: 1;
}
