@import "../styles/variables.scss";

$footerTextColor: lighten($secondaryColor, 30);
$footerLinkColor: lighten($secondaryColor, 45);

.root {
  padding-top: 80px;
  color: $footerTextColor;
  font-size: smaller;

  nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  a {
    @include link($footerLinkColor);
  }
}

.wrapper {
  composes: global(container);
}

.content {
  composes: global(grid);
  grid-template-columns: repeat(4, 1fr);
}

.socialIcon {
  background: none !important;
  :global(svg g.social-svg-mask path) {
    fill: none;
  }
  :global(svg g.social-svg-icon path) {
    fill: $footerTextColor;
  }
  &:hover :global(svg g.social-svg-icon path) {
    fill: lighten($footerLinkColor, 10%);
  }
}

.copyright {
  font-size: 0.8em;
}
