@import "../styles/variables";

.root {
  color: $bgColor;
  align-items: end;
  padding: 20px;
}

.logo {
  composes: grid--4col from global;
  margin: 0;
}

.location,
.location:hover,
.location:visited,
.location:active {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(transparent, white 1px, transparent 1px);
}

.link_home {
  grid-column: 1 / 4;
  display: block;
  background: none;
  max-width: 130px;
  @media (max-width: 768px) {
    margin: 0 auto;
  }
  &:hover {
    background: none;
    filter: brightness(110%);
  }
}

.description {
  grid-row: 2;
  grid-column: span 6;
  font-size: 120%;
  margin-left: 2rem;
}

.meta {
  grid-column: 9 / 13;
  margin-top: -1rem;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  p {
    margin: 0;
  }
}

.dates {
  margin: 0;
  color: $bgColor;
  font-weight: 600;
  font-size: 200%;
}

.nav {
  composes: push--3col from global;
  composes: pull--0col from global;
  display: flex;
  align-items: center;
}

.nav_home {
  grid-row: 1;
  grid-column: 5 / 13;
}
