@import "../styles/variables.scss";

.root {
  composes: global(skewedBlock);
  @include fixedBg("../assets/img/bg_blurred.jpg");
}

.heading {
  composes: global(push--1col);
  composes: global(pull--1col);
}
