@import "../styles/variables.scss";

.root_header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .link {
    display: block;
    font-weight: bold;
    @include link($bgColor);
    white-space: nowrap;
  }

  .listItem {
    margin: 0;
    padding: 0.5em;
  }
}

.navPrimary {
  order: 1;
  flex: 1 0 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.navSecondary {
  composes: navPrimary;
  order: 0;
  font-size: 75%;
}

.listItemBuy {
  composes: listItem;
  padding-right: 0 !important;
}

.ticketsButton {
  composes: root from "./button.module.scss";
  composes: link;
  padding: 0.5em 0.5em 0.45em;
  background: $primaryColor !important;
  &:hover {
    background: darken($primaryColor, 5) !important;
  }
}

.root_footer {
  .navPrimary {
    display: block;
    line-height: 1.5;
  }

  .navSecondary {
    font-size: inherit;
    opacity: inherit;
  }

  .listItem {
    display: block;
    padding: 0;
    margin-left: 0;
  }
}
