@import "../styles/variables.scss";

.root_header {
  width: 100%;

  .link {
    display: block;
    font-weight: bold;
    @include link($bgColor);
    text-transform: uppercase;
    font-size: 0.65em;
    letter-spacing: 0.1em;
  }
}

.list {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

.listItem {
  display: inline-block;
  margin: 0 2em 0 0;
}

.listItemBuy {
  composes: listItem;
  margin-right: 0;
}

.ticketsButton {
  composes: root from "./button.module.scss";
  composes: link;
  padding: 0.5em 0.5em 0.35em;
  background: $primaryColor !important;
  &:hover {
    background: darken($primaryColor, 5) !important;
  }
}

.root_footer {
  .list {
    display: block;
    line-height: 1.5;
  }

  .listItem {
    display: block;
    padding: 0;
    margin-right: 0;
  }
}
