.root {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.organizer {
  margin: 0 0 20px;
  padding: 0;
  flex: 1 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.photo {
  display: inline-block;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  @media (min-width: 768px) {
    margin-right: 10px;
  }
}

.info {
  display: block;
}

.name {
  font-size: 90%;
}

.twitter {
  margin: 0;
}
