@import "../styles/variables.scss";

/* Container element */
.container {
  composes: container from "../styles/style.scss";
}

/* Main grid layout */
.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-gap: 20px;
  }

  &_4 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &_6 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);

      @for $i from 1 through 6 {
        .grid--#{$i}col {
          grid-column: span $i;
        }
      }
    }
  }

  &_12 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);

      @for $i from 1 through 12 {
        .grid--#{$i}col {
          grid-column: span $i;
        }
      }
    }
  }
}

.push {
  @for $i from 1 through 12 {
    &--#{$i}col {
      margin-left: (56px + 20px) * $i;
    }
  }
}

.pull {
  @for $i from 1 through 12 {
    &--#{$i}col {
      margin-right: (56px + 20px) * $i;
    }
  }
}

.bleedingBlockWrapper {
  margin-left: -20px;
  margin-right: -20px;
  filter: drop-shadow(0px 10px 0 transparentize(black, 0.85));
}

.skewedBlock {
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
}
