@import "../styles/variables.scss";

.root {
  composes: grid from global;
  composes: grid_12 from global;
  margin: 2em 0;
}

.speakerCard {
  composes: grid--2col from global;

  figcaption {
    display: none;
  }
}

.description {
  composes: grid--10col from global;
}

.figure {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 0;
}

.image {
  display: block;
  width: 150px;
  border-radius: 50%;
}

.name {
  margin: 0;
  font-size: x-large;
}

.company {
  margin: 0;
  color: $secondaryTextColor;
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 3px;
  margin-top: -2px;
}
