@import "../styles/variables.scss";

$goldColor: #d0ab54;
$cateringColor: #d46b60;
$supporterColor: $tertiaryColor;

.root {
  composes: grid--4col from global;
  display: block;
  margin: 0 0 20px;
  padding: 0;
  background: $bgColor;
  color: $secondaryColor;
  box-shadow: 10px 10px 0 transparentize(black, 0.85);
  transition: 0.125s transform ease-in;

  &:hover {
    color: $secondaryColor;
    transform: scale(1.01);
    transition: 0.125s transform ease-out;
    background: lighten($bgColor, 2%);
  }
}

.gold,
.catering,
.supporter {
  composes: root;
}

.gold {
  color: darken($goldColor, 20) !important;

  .header {
    background-color: $goldColor;
  }
}
.catering {
  color: darken($cateringColor, 20) !important;

  .header {
    background-color: $cateringColor;
  }
}

.supporter {
  color: darken($supporterColor, 20) !important;

  .header {
    background-color: $supporterColor;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.name {
  flex: 1 auto;
  margin: 0;
  color: $bgColor;
  font-size: 1rem;
}

.cost {
  flex: 0 0 100%;
  order: 2;
  margin: 0;
  color: $bgColor;
  font-size: 2rem;
}

.amount {
  flex: 0 0 100%;
  flex-flow: wrap;
  margin: 0;
}

.description {
  padding: 0 25px 10px;
  font-size: 90%;

  p {
    margin-left: 0.5rem;
  }

  ul {
    margin-left: 0.5rem;
    padding: 0;
    list-style: square outside;
  }

  li {
    margin: 0.5rem 0;
  }
}
