@import "../styles/variables.scss";

$goldColor: #eec642;
$cateringColor: #f0a453;
$supporterColor: #f7e093;

.root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tier {
  display: block;
  margin: 1rem;
  padding: 0;
  background: white;
  transition: 0.125s transform ease-in;

  &:hover {
    transform: scale(1.05);
    transition: 0.125s transform ease-out;
  }
}

.gold,
.catering,
.supporter {
  composes: tier;
}

.gold {
  color: darken($goldColor, 10) !important;
  border: 1px solid $goldColor;
  background-color: lighten($goldColor, 45);

  .header {
    background-color: $goldColor;
    color: lighten($goldColor, 40);
  }
}
.catering {
  color: darken($cateringColor, 20) !important;
  border: 1px solid $cateringColor;
  background-color: lighten($cateringColor, 36);

  .header {
    background-color: $cateringColor;
    color: lighten($cateringColor, 45);
  }
}

.supporter {
  color: darken($supporterColor, 20) !important;
  border: 1px solid $supporterColor;
  background-color: lighten($supporterColor, 39);

  .header {
    background-color: $supporterColor;
    color: lighten($supporterColor, 55);
  }
}

.header {
  padding: 1rem;
}

.name {
  margin: 0;
  margin-bottom: 0.5rem;
}

.amount {
  margin: 0;
}

.cost {
  display: inline-block;
  margin: 0;
  font-size: 150%;
}

.description {
  color: $textColor;
  margin: 0 1.5rem 0 1.5rem;
  padding: 1rem;
  list-style: square;

  li {
    margin: 0.5rem 0;
  }
}
