@import "../styles/variables.scss";

.root {
  composes: bleedingBlockWrapper from global;
  position: relative;
  top: 40px;
  margin-top: -80px;

  form {
    @media (min-width: 768px) {
      grid-column: 5 / span 8;
    }
  }
}

.inner {
  composes: skewedBlock from global;
  background-color: $tertiaryColor;
}

.heading {
  composes: grid--4col from global;
  font-size: 2rem;
}
