@import "../styles/variables.scss";

.root {
  composes: bleedingBlockWrapper from global;
  position: relative;
  top: 25px;
  margin-top: -70px;
  margin-bottom: -40px;
  color: $bgColor;
}

.inner {
  composes: skewedBlock from global;
  background-color: $tertiaryColor;
}

.heading {
  font-size: 2rem;
}
