@import "../styles/variables.scss";

.root {
  position: relative;
  color: $bgColor;

  a {
    @include link($bgColor);
  }
}

.smallText {
  font-size: 0.75em;
  opacity: 0.65;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: none;
  margin-right: 0.5em;
  line-height: 2;
  font-weight: bold;
}

.input {
  flex: 1 auto;
  margin-right: 0.25em;
  width: 50%;
}

.hiddenInput {
  position: absolute;
  left: -5000px;
}
