@import "../styles/variables";

.root {
  composes: bleedingBlockWrapper from global;
  margin-bottom: 40px;
  color: $bgColor;

  a {
    @include link($bgColor);
  }
}

.inner {
  composes: skewedBlock from global;
  background-color: $primaryColor;
}

.heading {
  color: $bgColor;
}

:global {
  .tito-wrapper {
    padding: 0;
    background: none;
    border: none;
    color: $bgColor;
    font-family: inherit;
  }

  .tito-submit-wrapper,
  .tito-ticket.row {
    margin: 0 !important;
  }

  .tito-ticket.row {
    @media (min-width: 768px) {
      display: flex !important;
    }
    align-content: space-between;
    border-color: transparentize($bgColor, 0.75) !important;
  }

  .tito-ticket-name-wrapper {
    flex: 1 auto;
    float: none;
    width: auto;
  }

  .tito-ticket-price-quantity-wrapper {
    flex: 0 0 auto;
    float: none;
    overflow: hidden;
    justify-self: flex-end;
    width: auto;
  }

  .tito-ticket-name {
    font-size: 120%;
  }

  .tito-ticket-description {
    color: inherit;
    font-size: 75%;
    opacity: 0.5;
  }

  .tito-ticket-price span {
    font-size: 120%;
    line-height: 1.4;
  }

  .tito-badge-link {
    display: none;
  }

  .tito-tickets-remaining {
    margin-left: 0 !important;
    background-color: transparentize($bgColor, 0.75) !important;
    border: none !important;
    color: $bgColor !important;
    border-radius: 7px;
  }

  .tito-submit {
    padding: 0.5em 2em !important;
    font-size: 1em !important;
    font-family: $displayFontFamily;
    background-color: $secondaryColor !important;
    border-color: $secondaryColor !important;
    border-radius: 0 !important;
    height: auto !important;
    width: auto !important;

    &:hover {
      background-color: lighten($secondaryColor, 10%) !important;
      border-color: lighten($secondaryColor, 10%) !important;
    }
  }

  .tito-previous .tito-ticket-name-wrapper,
  .tito-ticket-status-sold-out {
    opacity: 0.5;
  }
}
