@import "../styles/variables.scss";

.root {
  composes: grid--4col from global;
  padding: 2em;
  margin-bottom: 1em;
  font-size: 0.8em;
  background: $bgColor;
  box-shadow: 10px 10px 0 transparentize(black, 0.85);

  a,
  a:hover {
    text-decoration: none;
    background-image: none;
  }
}

.header {
  display: flex;
}

.avatar {
  flex: 0;
  display: block;
  margin-right: 0.5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}

.name {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.handle {
  font-weight: normal;
  color: $secondaryTextColor;
  font-size: 0.85em;
}

.icon {
  width: 1em;
  height: 1em;
}
