@import "../styles/variables.scss";

$border: 1px solid lighten($tertiaryColor, 30);
$padding: 25px 15px;

.entries {
  composes: grid from global;
  composes: grid_12 from global;
  composes: grid--full from global;
  grid-row-gap: 0 !important;
}

.entryTime {
  grid-column: 2/4;
  position: relative;
  margin: 0;
  padding: 0;
  color: $secondaryTextColor;
}

.entryDescription {
  composes: grid--8col from global;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (max-width: 480px) {
  .talkTime {
    composes: entryTime;
  }
}

.talkDescription {
  composes: entryDescription;
  font-weight: normal;
  color: $textColor;
}

.talkTitleLink {
  display: inline-block;
  margin-top: 0.2em;
  font-size: 1em;
}

.talkTitle {
  composes: headingWithAnchor from global;
  composes: talkTitleLink;
}

.speakers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.speaker {
}
