@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat:300,600");
@import "./variables.scss";
@import "./tickets.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 13pt/1.3 $mainFontFamily;
  color: $textColor;
  background: $secondaryColor url(../assets/img/bg.jpg) 50% top no-repeat fixed;
  background-size: contain;
  @media (min-width: 768px) {
    font-size: 13pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: $displayFontFamily;
  font-weight: 300;
  color: $primaryColor;
  @media (min-width: 768px) {
    margin-top: 1.5em;
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

a {
  @include link($primaryColor);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  padding-left: 1.25em;

  > li {
    margin: 1em 0;
  }
}

ul {
  list-style-type: square;
}

input,
textarea {
  border: 1px solid desaturate(darken($secondaryColor, 20), 30);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondaryColor;
  }
}
button {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px saturate(lighten($primaryColor, 20), 30);
  }
}

main {
  // Fixed footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  margin: 0 auto;
  background: $bgColor;
  width: 90vw;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.subscribe {
  margin-top: auto;
}

//article {
//  > section {
//    @extend .grid;
//    @extend .grid_6cols;
//    @media (min-width: 768px) {
//      grid-row-gap: 0 !important;
//    }
//
//    @media (min-width: 768px) {
//      h1 {
//        grid-column: 1 / span 6;
//      }
//      h2 {
//        grid-column-start: 1;
//        grid-column-end: 5;
//      }
//      main {
//        grid-column: 1 / span 4;
//        &.full {
//          grid-column: 1 / span 6;
//        }
//      }
//      aside {
//        grid-column: 5 / span 2;
//      }
//    }
//  }
//}

.leadText {
  font-size: 125%;
  @media (min-width: 768px) {
    @extend .grid--5col;
  }
}

/* Container element */
.container {
  &_centered {
    margin: 0 auto;
    padding: 20px;
    width: 900px;
    @media (max-width: 900px) {
      width: auto;
      max-width: 900px;
    }
  }
}

/* Main grid layout */
.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-gap: 25px;
  }

  &_4cols {
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &_6cols {
    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);

      @for $i from 1 through 6 {
        .grid--#{$i}col {
          grid-column: span $i;
        }
      }
    }
  }
}

.subscribe {
  padding: 4vw 0;
  margin-bottom: -4vw;
  background-color: transparentize($secondaryColor, 0.5);
  clip-path: polygon(0 0, 100% 4vw, 100% 100%, 0 calc(100% - 4vw));

  h2 {
    grid-column: span 2;
    margin: 0;
  }

  form {
    @media (min-width: 768px) {
      grid-column: 3 / span 3;
    }
  }
}

.thanks {
  margin: 3rem 0;
  &--grid {
    grid-column: 2 / span 4;
  }
}

.sponsor-tiers {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
}

/* Subway stations */
.subway {
  display: inline-block;
  padding: 0.25em 0.2em;
  font-size: small;
  font-weight: bold;
  line-height: 0.8rem;
  vertical-align: 1px;
  //font-family: "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  background: #000;

  &-u1 {
    background-color: #d8222a;
  }
  &-u2 {
    background-color: #945d97;
  }
  &-u3 {
    background-color: #e7792b;
  }
  &-u4 {
    background-color: #009949;
  }
}

/* Job Listing */

.job {
  margin-top: 2em;
}

/* Sponsor Section on Index page */

.extraText {
  margin-top: 2em;
}
