@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Montserrat:300,600|Work+Sans");
@import "./variables.scss";
@import "./tickets.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 18px/1.5 $mainFontFamily;
  color: $textColor;
  background: $secondaryColor url(../assets/img/bg.jpg) center top no-repeat
    fixed;
  background-size: contain;

  @media (max-width: 768px) {
    font-size: 16px;
    background-size: cover;
    background-position: 100% 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family: $displayFontFamily;
  font-weight: 300;
  color: $primaryColor;
  @media (min-width: 768px) {
    margin-top: 1.5em;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

a {
  @include link($primaryColor);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  padding-left: 1.25em;

  > li {
    margin: 1em 0;
  }
}

ul {
  list-style-type: square;
}

input,
textarea {
  padding: 0.5em;
  font-family: $mainFontFamily;
  border-radius: 2px;
  background-color: $bgColor;
  border: 1px solid darken($secondaryColor, 0.5);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px saturate(lighten($secondaryColor, 20), 30);
  }
}
button {
  font-family: $mainFontFamily;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px saturate(lighten($secondaryColor, 20), 30);
  }
}

main {
  // Fixed footer
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  margin: 0 40px;
  background: $bgColor;
  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
  }
}

.subscribe {
  margin-top: auto;
}

.leadText {
  font-size: 135%;
  font-weight: 300;
  line-height: 1.7;
  color: $tertiaryColor;
}

/* Container element */
.container {
  margin: 0 auto;
  width: 900px;
  @media (max-width: 900px) {
    width: auto;
    max-width: 900px;
  }
}

.page-content {
  @media (min-width: 768px) {
    margin-left: 76px;
    margin-right: 76px;
  }
}

/* Main grid layout */
.grid {
  display: grid;

  @media (min-width: 768px) {
    grid-gap: 20px;
  }

  &_4 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &_6 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);

      @for $i from 1 through 6 {
        .grid--#{$i}col {
          grid-column: span $i;
        }
      }
    }
  }

  &_12 {
    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);

      @for $i from 1 through 12 {
        .grid--#{$i}col {
          grid-column: span $i;
        }
      }
    }
  }
}

.push {
  @for $i from 1 through 12 {
    &--#{$i}col {
      margin-left: (56px + 20px) * $i;
    }
  }
}

.pull {
  @for $i from 1 through 12 {
    &--#{$i}col {
      margin-right: (56px + 20px) * $i;
    }
  }
}

.bleedingBlockWrapper {
  margin-left: -20px;
  margin-right: -20px;
  filter: drop-shadow(0px 10px 0 transparentize(black, 0.85));
}

.skewedBlock {
  clip-path: polygon(0 3vw, 100% 0, 100% calc(100% - 3vw), 0 100%);
}

.thanks {
  margin: 3rem 0;
  &--grid {
    grid-column: 2 / span 4;
  }
}

.sponsor-tiers {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
}

/* Subway stations */
.subway {
  display: inline-block;
  padding: 0.25em 0.2em;
  font-size: small;
  font-weight: bold;
  line-height: 0.8rem;
  vertical-align: 1px;
  //font-family: "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  background: #000;

  &-u1 {
    background-color: #d8222a;
  }
  &-u2 {
    background-color: #945d97;
  }
  &-u3 {
    background-color: #e7792b;
  }
  &-u4 {
    background-color: #009949;
  }
}

/* Job Listing */

.job {
  margin-top: 2em;
}
